@import url('https://fonts.googleapis.com/css?family=Bellefair|Jura|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Actor|Bellefair|Jura|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Bellefair|Playfair+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    display: inline-block;
    padding: 6px;
    width: 120px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin: 5% 0 0 42%;
    font-family: 'Playfair Display', serif;
    opacity: .6;

}

.navbar {
  display: flex;
  background: #2c3e50
}


nav ul li:first-child {
    margin-right: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

nav.desk a:hover {
				color: #18191c;
			}

			nav.desk a:active {
				color: #18191c;
			}

			nav.mob{
				display: none;
			}

header {
    width: 100%;
    height: 650px;
    background-image: url(img/imga.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;

}



header .text {
    margin-top: 152px;
    background: rgba(15, 15, 15, 0.54);
}

header .title {
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-family: 'Playfair Display', serif;
    font-size: 85px;
    font-weight: 400;
}

header .subtitle {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 32px;
    margin-top: 5px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-family: 'Playfair Display', serif;
}

header .bottom {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.sesgoabottom {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

/* Main */

.about-us {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parra {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.about .bottom {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

.gallery {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.images {
    width: 20%;
    height: 95vh;
    overflow: hidden;
    position: relative;
}

.images img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

.above-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
}

.above-text img {
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
     width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 75%;
    margin-left: 55px;
}

.above-text div {
    position: relative;
    display: block;
    top: 10px;
    width: 105px;
    height: 5px;
    background: #fff;
    margin: auto;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}
#portfolio .card{
  width: 300px;
  height: auto;
  margin: 10px 0;
}
.cards img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}
#portfolio .cards img{
  width: 250px;
  height: auto;
  border-radius: 0%;
}
.card .bottom-read{
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 5px;

}

.jslg, h2{
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 32px;
  margin-top: 5px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-family: 'Playfair Display', serif;
}

.csslg, h2 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 32px;
  margin-top: 5px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-family: 'Playfair Display', serif;
}

#json{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#js-owner {
  margin: 20px 0;
  width: 30%;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);

}

#css-owner {
  margin: 20px 0;
  width: 30%;

  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}


.base {
    height: 55vh;
    position: relative;

    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 145px;
}

.slide-container{
    max-width: 100%;
    height:  100vh;
    width: 100%;
    bottom: 145%;
    position: relative;
    overflow: hidden;
    margin: auto;
}



div.miSlider img {
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    transition: 2s;
}

.direction {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direction span {
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;

}

.direction span:hover {
    background: rgba(0,0,0, .5);
    transition: .5s;
}


.counters{
    position: absolute;
    bottom: 26%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.counter {
    cursor: pointer;
    height: 2px;
    width: 25px;
    margin: 0 2px;
    background-color: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active {
    background-color: #ff5252;
}







.customers {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}

.customer {
    width: 30%;
}

.customer img {
    width: 100%;
}

/* Footer */

footer {
    background: #2c3e50;
    height: auto;
}

.title-footer,
.sub-footer {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
     letter-spacing: 0.1em;

}

.sub-footer {
    font-size: 16px;
    margin-bottom: 64px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    background: rgba(37, 37, 33, .7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}

input[type="text"]:focus
textarea:focus {
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: rgba(37, 37, 33, .7);
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    margin-bottom: 16px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgba(37, 37, 33, .7);
    width: 96px;
}
#myMap {
  height: 20vh;
}
/* Responsive */

@media screen and (max-width:1024px) {
    .card {
        width: 48%;
    }

    .above-text img {
    position: relative;
    top: 45%;
    margin-top: 245%;
    right: 15%;

  }
}

@media screen and (max-width:610px) {
    header .text {
        margin-top: 130px;
    }
    header .title {
        font-size: 75px;
    }
    .none {
        display: none
    }
    .images {
        flex-grow: 1;
    }
    .card {
        width: 90%;
    }

    .especial {
        display: none;
    }
    .customer {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }


    .slide-container{
    width: 100%;
    height: 100vh;


    }

    div.miSlider img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: 2s;
    }


.above-text img {
    position: relative;
    top: 45%;
    margin-top: 200px;
    right: 42%;

  }

/* navbar*/

  nav.desk {
 	 	display: none;
 	 }

    nav.mob,
 	 .hamburger-btn{
 	 	display: block;
 	 }

 	 .hamburger-btn{
 	 	position: relative;
 	 }

     .hamburger-btn .fa-bars,
     .hamburger-btn .fa-times {
           position: relative;
           left: 90%;
           font-size: 35px;
           color: #fff;
           cursor: pointer;
     }

      nav.mob {

     background-color: #2c3e50;
     position: relative;
    }



     nav.mob ul {
     	background-color: #2c3e50;
     	display: none;

     }

     nav.mob ul li{
     	text-transform: uppercase;
     	text-align: center;
     	padding: 15px;
     	cursor: pointer;
     }

     nav.mob ul.active {
     	display: block;
     }

    nav.mob a:hover {
  	color: #18191c;
  }

  .jslg, h2{
    margin-bottom: -17%;
    padding: 60px;

  }

  .csslg, h2 {
    padding: 60px;
  }

  #js-owner {

    width: 55%;



  }

  #css-owner {
    width: 55%;

  }
}

@media screen and (max-width:380px) {
    header .text {
        margin-top: 100px;
    }
    header .title {
        font-size: 65px;
    }
    header .subtitle {
        font-size: 25px;
        margin-bottom: 32px;
    }
    .about-us {
        font-size: 46px;
    }
    .slogan {
        font-size: 20px;
    }
    .title-sponsor {
        font-size: 46px;
    }
    .sub-sponsor {
        font-size: 20px;
    }


    .slide-container{
    width: 100%;
    height: 100vh;
}

    div.miSlider img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: 2s;
    }

    .above-text img {
    position: relative;
    top: 45%;
    margin-top: 200px;
    right: 75%;

  }
}
